#bootstrap-overrides{
	text-align: center;
	font-size: 18px;
}

#bootstrap-overrides h1{
	font-weight: bold;
	margin-bottom: 50px;
}

#bootstrap-overrides .btn{
	border: 2px solid white;
	font-size: 22px;
	height: 12.5vh;
}

#options{
	background-color: gray;
}

#functions{
	background-color: orange;
}

#results{
	font-size: 22px;
	text-align: right;
	margin-bottom: 5px;
}