#bootstrap-overrides{
	text-align: center;
}

#bootstrap-overrides h1{
	font-weight: bold;
	font-size: 56px;
	height: 12.5vh;
}

#bootstrap-overrides .row{
	height: 12.5vh;
}

#bootstrap-overrides .btn{
	border: 2px solid white;
	font-size: 22px;
	height: 12.5vh;
}

#AC, #plusminus, #percent {
	background-color: gray;
}

#divide, #multiply, #minus, #plus, #equal {
	background-color: orange;
}

#results{
	font-size: 48px;
	text-align: right;
}


#bootstrap-overrides button:focus {
    background-color: red;
}